 
 *{
    box-sizing: border-box;
 }

 .LearnGridCover{ 
    position: relative;
    width: 100%;
  
 }
 .LearnGridCover .subHead{ 
    width: 100%;
    display: flex;
    padding-left: 30px;
    margin-top: 25px;
 }
 .LearnGridCover .subHead p{ 
    padding-right: 6px;
 }

 .LearnPicGridCover{ 
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    /* grid-auto-flow: dense; */
    grid-gap: 10px;
    padding: 0 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  

 }
 .LearnPicGridCover .LearnGridImg:nth-child(2){ 

        grid-column: span 2;
        grid-row: span 2;
        height: 100%;
    
 }
 .LearnPicGridCover .LearnGridImg:nth-child(4){ 

        /* grid-column: span 2;
        grid-row: span none; */
        /* height: 100%;
     */
 }
 .LearnPicGridCover img{ 
  
        width: 100%;
        object-fit: cover;
 }

 .LearnGridImg{
    position: relative;
    width: 100%;
 }

 .gridOverlay{
    position: absolute;
     z-index: 5;
     display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
   
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px; 
    color: white;
    
 }
 .gridOverlay:hover{
    position: absolute;
     z-index: 5;
     display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
   cursor: pointer;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px; 
    color: white;
    background-color: #355070;
    opacity: 0.9;
    
 }
 .gridOverlay button{
    cursor: pointer;
    padding: 20px;
    border: none;

    
 }

 .gridOverlay button{
    cursor: pointer;
    padding: 10px;
    border: none;
    transform: all 0.4s ease;
 }
 .gridOverlay button:hover{
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: #284160;
    color: white;
    transform: all 0.4s ease;

    
 }



 .overlayContainer{ 
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
 }
 