*{ 
    box-sizing: border-box;
    margin: 0;
}

/* .NavLinks ul{ 
    display: flex;
} */

.NavCover{ 

    position: fixed;
    /* background-color: red; */
    top: 50;
    left: 0;
    width: 100%;
    z-index: 5;
   
} 

.scrollCover{ 
    /* background-color: #555555; */
    background-color: #355070;
    position: fixed;
    /* background-color: red; */
    top: 50;
    left: 0;
    width: 100%;
    z-index: 5; 

    
}

.scrollCover .NavTop{

    width: 100%;
    background-color: #ede3e3;
    height: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

}



.NavCover .NavTop{ 
     /* position: relative; */
     width: 100%;
     background-color: #ede3e3;
     height: 30px;
     display: flex;
     justify-content: right;
     align-items: center;
     padding-left: 20px;
     padding-right: 20px;
}
.NavCover .NavTop ul{ 
     
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
}
.scrollCover .NavTop ul{ 
     
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
} 

.NavCover .NavTop li{ 
     
    padding-right: 10px;
}
.scrollCover .NavTop li{ 
     
    padding-right: 10px;
}

.NavWhole{ 
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-left: 0;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 3rem;
    /* background-color: red; */
}

.NavLinks ul{ 
    display: flex;
    list-style: none;
}

.NavLinks li{ 
   
    padding-right: 10px;
    cursor: pointer;
}

.LinkItem{ 
    list-style: none;
    text-decoration: none;
    color: inherit;
}
