*{ 
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    
}

/* .NavLinks ul{ 
    display: flex;
} */

.text-link{
    list-style: none;
    text-decoration: none;
    color: white;
}


input[type=checkbox]{
    display: none;
}

.NavCover{ 

    position: fixed;
    top: 50;
    left: 0;
    width: 100%;
    z-index: 5;
   
} 

.scrollCover{ 
 
    background-color: #355070;
    position: fixed;

    top: 50;
    left: 0;
    width: 100%;
    z-index: 5; 

    
}

.scrollCover .NavTop{

    width: 100%;
    background-color: #ede3e3;
    height: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

}



.NavCover .NavTop{ 
     /* position: relative; */
     width: 100%;
     background-color: #ede3e3;
     height: 30px;
     display: flex;
     justify-content: right;
     align-items: center;
     padding-left: 20px;
     padding-right: 20px;
}
.NavCover .NavTop ul{ 
     
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
}
.scrollCover .NavTop ul{ 
     
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
} 

.NavCover .NavTop li{ 
     
    padding-right: 10px;
}
.scrollCover .NavTop li{ 
     
    padding-right: 10px;
}

.NavWhole{ 
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-left: 0;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 3rem;
   
}

.NavLinks ul{ 
    display: flex;
    list-style: none;
}

.NavLinks li{ 
   
    padding-right: 10px;
    cursor: pointer;
}

 /* Responsive Configs */
.Wbarinit {

    display: none;
    
} 
.Wbarinit .resBar {

    display: flex;
    justify-content: space-between;
    color: white;
    
} 

#cancel-btn:checked ~ .Wbarinit {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: #355070;
    /* left: -200px; */
  } 

  .Wbarinit .Sidelist { 

    display: none;

   }


 

.LinkItem{ 
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.resTitle{
    display: none;
}

#cancel-btn:checked ~ .resTitle {

    display: none;
    color: white;
    padding-top: 10px;
  
  } 

  /* #cancel-btn:checked ~ .NavCover{

    display: flex; 
  }  */

  

@media screen and (max-width: 730px){   

    .scrollCover{
        display: none;
    } 

    .NavCover{
        display: none;
    }

    .resTitle{ 
        background-color: #355070;
        position: relative;
    
        top: 50;
        left: 0;
        width: 100%;
        z-index: 5; 
        display: flex;
        justify-content: space-between;
        padding: 10px;
        color: white;
    }

    .scrollCover{
        display: none;
    }
    .NavCover{
        display: none;
    }

    .Wbarinit .Sidelist { 

        display: flex; 
        flex-direction: column;   
        padding: 0;
        justify-content:space-evenly; 
        min-height: 500px;
        align-items: center;
         /* top: 65px; */
         list-style: none;
    
    } 
    
    .Wbarinit.Sidelist li {
    
        font-size: 23px;
        border-radius: 5px;
        color: inherit;
        text-decoration: inherit;
    
    
    } 
    



}


