
*{
    box-sizing: border-box;
} 


.pageSubHead{
    position: relative;
    display: flex;
    padding-left: 30px;
    background-color: #2A9DD6;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
   
}
.pageContent{
    position: relative;
    display: flex;
    margin-top: 30px;
   
}
.pageContent button{
    background-color: #2A9DD6;
   max-width: 70px;
   border: none;
   
}

.pageContent img{
    
    height: 100%;
    width: 100%;
    /* max-width: 400px; */
    max-height: 350px;
    object-fit: cover;
}

.quickMenu{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding-left: 30px;
}
.quickMenu h3,button{
    padding: 7px 0;

}
.quickMenu ul{
    list-style: none;
    padding: 0;
    margin: 0;

    
}

.quickMenu li{ 

    border-bottom: 0.5px solid gray;
    padding: 8px 0;
    cursor: pointer;

}
.quickMenu li:hover{ 

    color: #2A9DD6;

}

.contentOutlet{ 
    padding-left: 30px;
    padding-right: 30px;

}

.contentOutlet .Content{
    margin-top: 8px;
}

.pageContent{
    flex-wrap: wrap-reverse;
}

